%div{:id => "#{element_id}"}
:javascript
  $(function(){
    var chart = new Highcharts.Chart(Application.chartOpts({
      chart: {
        renderTo: '#{element_id}'
      },
      title: {
        text: '#{title}'
      }
    }));

    chart.showLoading();

    $.ajax({
      url: '#{data_url}',
      success: function(d) {
        $.each(d, function(i,s){
          chart.addSeries(s);
        });
        chart.hideLoading();
      }
    });
  });