#container{:style => 'width: 600px; height: 400px;'}
:javascript
  $(function(){
    var chartOpts = {
      chart: {
        renderTo: 'container',
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'K-D Spread by Match'
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function() { return Highcharts.dateFormat('%a %d %b', this.value); }
        }
      },
      yAxis: [{
        title: {
          text: 'Spread (by match)'
        }
      },{
        title: {
          text: 'Spread (cumulative)',
          style: {
            color: '#aa4643'
          }
        },
        labels: {
          style: {
            color: '#aa4643'
          }
        },
        opposite: true
      }],
      tooltip: {
        formatter: function() { return new Date(this.x).toString() + '<br/>Spread: ' + this.y.toString(); }
      },
    };

    $.ajax({
      url: '/data/kd/#{params[:gamertag]}',
      success: function(d) {
        chartOpts.series = d;
        var chart = new Highcharts.Chart(chartOpts);
      }
    })
  });