#container
:javascript
  $(function(){
  
    var chart = new Highcharts.Chart(Application.chartOpts({
      chart: {
        renderTo: 'container'
      },
      title: {
        text: 'K-D Spread: #{params[:gamertag]}'
      }
    }));

    chart.showLoading();

    $.ajax({
      url: '/data/kd/#{params[:gamertag]}',
      success: function(d) {
        $.each(d, function(i,s){
          chart.addSeries(s);
        });
        chart.hideLoading();
      }
    });
  });